{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            {% if cargo.cargo_image %}
                <img src="{{ cargo.cargo_image.url }}" class="card-img-top" alt="Cargo Image">
            {% endif %}

            <p id="details-title">{{ object.name }}</p>
            <div id="info-wrapper">
                <div id="details-description">

                    <p>
                        {{ object.description }}
                    </p>

                    <p>
                        {{ object.location }}
                    </p>
                    <p>
                        {{ object.cargo_type }}
                    </p>

                    <p>
                        {{ object.departure_date }}
                    </p>
                    <p>
                        {{ object.arrival_date }}
                    </p>
                </div>

                {% if request.user == object.owner %}
                    <div id="action-buttons">
                        <a href="{% url 'edit cargo' object.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete cargo' object.pk %}" id="delete-btn">Delete</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}