{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            {% if cargo.cargo_image %}
                <img src="{{ cargo.cargo_image.url }}" class="card-img-top" alt="Cargo Image">
            {% endif %}
            <p id="details-title">{{ cargo.name }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <p>
                        {{ cargo.description }}
                    </p>
                    <p id="details-item">
                        Location: {{ cargo.location }}
                    </p>
                    <p id="details-item">
                        Type : {{ cargo.cargo_type }}
                                   </p>

                    <p id="details-item">
                        Date Of Departure: {{ cargo.departure_date }}
                                 </p>
                    <p id="details-item">
                         Arrival date: {{ cargo.arrival_date }}
                        </p>

                {% if request.user == object.owner %}
                    <div id="action-buttons">
                        <a href="{% url 'edit cargo' object.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete cargo' object.pk %}" id="delete-btn">Delete</a>
                    </div>
                {% else %}
                    <p>If you are interested in this offer, please contact us at: {{ cargo.contact_number }} </p>
                {% endif %}
            </div>
        </div>
        <div>

    </section>
{% endblock %}