{% extends 'common/index.html' %}
{% load static %}
{% block content %}

            <section id="edit">
            <div class="form">
                <h2>Edit Cargo</h2>
                <form class="edit-form" method='POST' enctype="multipart/form-data" action="{% url 'edit cargo' object.pk %}">

                    {{ form.as_p }}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>
{% endblock %}

