{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <section class="guest-service pale-background">
        <div class="guest-content">
            <h2 class=text-center"> Welcome to LogiSolutions</h2>
            <section class="more-info" id="more-info">
                <div class="guest-content">
                    <p>
                        LogiSolutions is your ultimate logistics partner. Our platform connects cargo owners, vehicle providers,
                        and warehouse operators, making logistics management a breeze. From efficient cargo and vehicle cataloging
                        to real-time tracking and user-friendly interfaces, we've got it all covered.
                    </p>
                </div>
            </section>

            <div class="find-buttons">
                <div class="btn-container">
                    <a href="{% url 'VehicleCatalogView' %}" class="btn btn-large btn-primary">Find Vehicle for Your Cargo</a>
                </div>
                <div class="btn-container">
                    <a href="{% url 'CargoCatalogView' %}" class="btn btn-large btn-primary">Find Cargo for Your Vehicle</a>
                </div>
            </div>
            <section class="question-section">
                <div class="guest-content">
                    <h2>Ask a Question</h2>
                    <form method="post" class="question-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.question.label_tag }}
                            {{ form.question }}
                        </div>

                        <button type="submit" class="btn btn-primary">Send Question</button>
                    </form>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
