
.card {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    float: left;
    transition: background-color 0.3s;
    backdrop-filter: blur(5px);
    text-align: center;
}
h2 {
    text-align: center;
    margin: 10px 0;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.card h3 {
    margin: 10px 0;
}


.card p {
    margin: 5px 0;
}

.card .details-btn {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;

}

#dashboard::after {
    content: "";
    display: table;
    clear: both;
}
.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
    backdrop-filter: blur(5px);
    border-radius: inherit;
    pointer-events: none;
}