
.profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


#details-wrapper {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


#details-wrapper img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}


#details-title {
    text-align: center;
    margin: 10px 0;
}


#details-description p {
    margin: 5px 0;
}


#action-buttons {
    display: flex;
    justify-content: center;
}

#action-buttons a {
    display: block;
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}


.guest-service {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.guest-content {
  margin: 20px auto;
  max-width: 600px;
}

.guest-content h2 {
  font-size: 32px;
  color: #3e7ab3;
  margin-bottom: 20px;
}

.guest-content p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.guest-content .btn-primary {
  background-color: #3e7ab3;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.guest-content .btn-primary:hover {
  background-color: #4caf50;
}

.find-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.find-buttons .btn-container {
  margin: 10px;
}

.question-form .form-group {
  margin-bottom: 20px;
}

.question-form label {
  font-size: 18px;
  color: #3e7ab3;
  font-weight: bold;
  margin-bottom: 30px;

}

.question-form .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.question-form .form-group.col-md-6 {
  flex: 0 0 48%;
}

.question-form input[type="text"],
.question-form input[type="email"],
.question-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.question-form button {
  background-color: #3e7ab3;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px auto 0; /* Change 'auto auto 0' to '20px auto' to center the button horizontally */
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-form button:hover {
  background-color: #4caf50;
}