.details-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

/* Details card */
#details-wrapper {
  background: linear-gradient(to bottom, #ffffff, #417cb3);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(65, 124, 179);
  color: #fff;
  padding: 20px;
  text-align: center;
}

#details-wrapper img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

#details-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#info-wrapper {
  text-align: left;
  padding: 10px 0;
}

.detail {
  margin-bottom: 15px;
}

.detail-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.detail-value {
  margin-bottom: 10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.action-buttons a {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.action-buttons a:hover {
  background-color: #45a049;
}

.action-buttons button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.action-buttons button:hover {
  background-color: #2181c5;
}

.guest-service {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.guest-content {
  margin: 20px auto;
  max-width: 600px;
}

.guest-content h2 {
  font-size: 32px;
  color: #3e7ab3;
  margin-bottom: 20px;
}

.guest-content p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.guest-content .btn-primary {
  background-color: #3e7ab3;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.guest-content .btn-primary:hover {
  background-color: #4caf50;
}

.find-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.find-buttons .btn-container {
  margin: 10px;
}

.question-form .form-group {
  margin-bottom: 20px;
}

.question-form label {
  font-size: 18px;
  color: #3e7ab3;
  font-weight: bold;
  margin-bottom: 30px;
}

.profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
}


#details-profile {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


#details-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

