/* Form styles */

.form-container {
  max-width: 400px;
  margin: 40px auto; /* Add some space from the top and center the form */
  padding: 30px;
  background-color: #f0f0f0; /* Set your desired background color */
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center; /* Center the content horizontally */
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.form input[type="text"],
.form textarea,
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form textarea {
  resize: vertical;
}

.form button {
  background-color: #5cb85c; /* Light Green */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: block; /* Add this to make the button appear on a new line */
  width: 100%; /* Add this to make the button full width */
  margin-top: 20px; /* Add some space between the fields and the button */
}

.form button:hover {
  background-color: #4cae4c; /* Darker Green on hover */
}

/* Additional styles for form errors */
.form .error-message {
  color: #d9534f; /* Red */
  margin-bottom: 10px;
}

.form .error-message p {
  margin: 5px 0;
}
