
.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.form input[type="text"],
.form textarea,
.form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.form textarea {
  resize: vertical;
}

.form button {
  background-color: #5cb85c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.form button:hover {
  background-color: #4cae4c;
}


.form .error-message {
  color: #d9534f;
  margin-bottom: 10px;
}

.form .error-message p {
  margin: 5px 0;
}

.image-container {
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
}

.image-container img {
  width: 250px; /* Set the width of the images */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.image-container a {
  text-align: center;
  text-decoration: none;
  color: #333;
}


.image-container img:hover {
  transform: scale(1.1);
}

.image-text {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

/*@media (max-width: 600px) {*/
/*  .pet-card {*/
/*    width: 100%;*/
/*  }*/
/*  .details-buttons {*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/
/*}*/

/*.square-image {*/
/*  max-width: 400px;*/
/*  max-height: 400px;*/
/*  width: auto;*/
/*  height: auto;*/
/*  object-fit: contain;*/
/*}*/