{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            {% if vehicle.vehicle_image %}
                <img src="{{ vehicle.vehicle_image.url }}" class="card-img-top" alt="Vehicle Image">
            {% endif %}
            <p id="details-title">{{ vehicle.license_plate }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <p>
                        {{ vehicle.description }}
                    </p>
                    <p id="nutrition">Details</p>
                    <p id="details-nutrition">
                        {{ vehicle.vehicle_type }}
                    </p>
                    <p id="details-nutrition">
                        {{ vehicle.current_location }}
                    </p>
                    <p id="details-nutrition">
                        {{ vehicle.max_weight }}
                    </p>
                </div>

                <div id="action-buttons">
                    {% if request.user == object.owner %}
                        <a href="{% url 'edit vehicle' vehicle.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete vehicle' vehicle.pk %}" id="delete-btn">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}