{% extends 'common/index.html' %}
{% load static %}
{% block content %}

         <section id="edit">
            <div class="form">
                <h2>Edit Vehicle</h2>
                <form class="edit-form" method='POST'  enctype="multipart/form-data" action="{% url 'edit vehicle' vehicle.pk %}" >

                    {{ form.as_p }}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

{% endblock %}