{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <main>

        <section id="create">
            <div class="form">
                <h2>Add Warehouse</h2>
                <form class="create-form" method="post" action="{% url 'create warehouse' %}">
                    {{ form }}
                    <button type="submit">Add Warehouse</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}