{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            {% if warehouse.warehouse_image %}
                <img src="{{ warehouse.warehouse_image.url }}" class="card-img-top" alt="Warehouse Image">
            {% endif %}
            <p id="details-title">{{ warehouse.name }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <p>
                        {{ warehouse.description }}
                    </p>
                    <p id="details-item">
                        Square Meters Capacity: {{ warehouse.square_meters_capacity }}
                    </p>
                    <p id="details-item">
                        Location: {{ warehouse.location }}
                    </p>
                </div>
                {% if request.user == object.owner %}
                    <div id="action-buttons">
                        <a href="{% url 'edit warehouse' warehouse.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete warehouse' warehouse.pk %}" id="delete-btn">Delete</a>
                    </div>
                {% else %}
                    <p>If you are interested in this offer, please contact us at: {{ warehouse.contact_person }} </p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}