{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <section id="details">
        <div id="details-wrapper">
            {% if warehouse.warehouse_image %}
                <img src="{{ warehouse.warehouse_image.url }}" class="card-img-top" alt="Warehouse Image">
            {% endif %}
            <p id="details-title">{{ warehouse.name }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <p>
                        {{ warehouse.description }}
                    </p>
                    <p id="details-item">
                        <strong>Square Meters Capacity:</strong> {{ warehouse.square_meters_capacity }}
                    </p>
                    <p id="details-item">
                        <strong>Location:</strong> {{ warehouse.location }}
                    </p>

                    {% if request.user == object.owner %}
                        <div class="button-container">
                            <a href="{% url 'edit warehouse' warehouse.pk %}" id="edit-btn">Edit</a>
                            <a href="{% url 'delete warehouse' warehouse.pk %}" id="delete-btn">Delete</a>
                        </div>
                    {% else %}
                        <p><strong>If you are interested in this offer, please contact owners
                            at:</strong> {{ warehouse.contact_person }} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}