{% extends 'common/index.html' %}
{% load static %}



{% block content %}
    <h2>Cargos</h2>
    <section id="dashboard">
        {% if cargos %}
            {% for cargo in cargos %}
                <!-- first fruit -->
                <div class="fruit">
                    <!-- fruit image -->
                    <img src="{{ cargo.name }}" alt="example1"/>
                    <!-- fruit name -->
                    <h3 class="title">{{ cargo.location }}</h3>
                    <!-- fruit description -->
                    <p class="description">{{ cargo.departure_date }}.</p>
                    <p class="description">{{ cargo.arrival_date }}.</p>
                    <p class="description">{{ cargo.cargo_type }}.</p>
                    <p class="description">{{ cargo.total_km }}.</p>
                    <p class="description">{{ cargo.description }}.</p>
                    <!-- fruit details button -->
                    <a class="details-btn" href="{% url 'details cargo' cargo.pk  %}">More Info</a>
                </div>
            {% endfor %}
        {% else %}


            </section>

            <!-- Display a heading if there are no posts -->
            <h2>No cargos yet.</h2>
        {% endif %}

{% endblock %}