{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <section id="dashboard">
        <h2>Cargos</h2>

        {% if cargos %}
            <div class="card-container">
            {% for cargo in cargos %}
                {% if cargo.is_approved %}
                    <div class="card">
                        {% if cargo.cargo_image %}
                            <img src="{{ cargo.cargo_image.url }}" class="card-img-top" alt="Cargo Image">
                        {% endif %}

                        <h3 class="title">{{ cargo.name }}</h3>
                        <p><strong>Location:</strong> {{ cargo.location }}</p>
                        <p><strong>Date Of Departure:</strong>  {{ cargo.departure_date }}.</p>
                        <p><strong>Date Of Arrival:</strong>  {{ cargo.arrival_date }}.</p>
                        <p><strong>Cargo Type:</strong>  {{ cargo.cargo_type }}.</p>
                        <p><strong>Kilometers:</strong>  {{ cargo.total_km }}.</p>
                        <p><strong>Contact Number:</strong>  {{ cargo.contact_number }}.</p>
                        <p><strong>Description:</strong>  {{ cargo.description }}.</p>
                        <a class="details-btn" href="{% url 'details cargo' cargo.pk %}">More Info</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <h2>No cargos yet.</h2>
        {% endif %}
    </section>
{% endblock %}
