{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>LogiSolutions</title>

</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="#">
            <img id="logo-img" src="{% static '/images/logo.png' %}" alt="logo"/>

        </a>

        <nav>
            {% if user.is_authenticated %}

                <div class="user">
                    <a href="{% url 'CatalogView' %}">Catalogue</a>
                    <a href="#">About</a>
                     {% if profile.type == 'Vehicle Owner' %}
                    <a href="{% url 'create vehicle' %}">Add Vehicle</a>
                         {% elif profile.type == 'Cargo Owner' %}
                         <a href="{% url 'create cargo' %}">Add Cargo</a>
                         {% elif profile.type == 'Warehouse Owner' %}
                         <a href="{% url 'create warehouse' %}">Add Warehouse</a>
                    {% endif %}
                    <a href="{% url 'DetailsProfileView' pk=user.pk %}">Profile</a>
                    <a href="{% url 'LogoutConfirmationView' %}">Logout</a>


                </div>

            {% else %}
                <div class="guest">
                    <a href="{% url 'CatalogView' %}">Catalogue</a>
                    <a href="{% url 'RegisterView' %}">SignIn</a>
                    <a href="{% url 'LoginView' %}">LogIn</a>
                </div>
            {% endif %}
        </nav>
    </header>

    <main>

        {% block content %}
        {% endblock %}


    </main>
</div>

<footer>
    <p>@LogiSolutions - SoftUni final Exam. Vladislav Vasilev.</p>
</footer>
</body>
</html>
