{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>LogiSolutions</title>

</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="#">
            <img id="logo-img" src="{% static '/images/logo.png' %}" alt="logo"/>
        </a>

        <nav>
            {% if profile %}
                <div class="user">
                    <a href="{% url 'CatalogView' %}">Catalogue</a>
                    <a href="{% url '' %}">Add Offer</a>
                    <a href="{% url 'DetailsProfileView' profile.pk  %}">Profile</a>
                    <a href="#">Logout</a>

                </div>
           {% else %}
                <!-- If user profile has NOT been created -->
                <div class="guest">
                    <a href="{% url 'CatalogView' %}">Catalogue</a>
                    <a href="{% url 'RegisterView' %}">SignIn</a>
                    <a href="{% url 'LoginView' %}">LogIn</a>
                </div>
            {% endif %}
        </nav>
    </header>

    <main>

        {% block content %}
        {% endblock %}


      </main>
    </div>

<footer>
    <p>@LogiSolutions - SoftUni final Exam. Vladislav Vasilev.</p>
</footer>
  </body>
</html>
