{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <h2>Vehicles</h2>
    <section id="dashboard">
        {% if vehicles %}
            <div class="card-container">
            {% for vehicle in vehicles %}
                {% if vehicle.is_approved %}
                    <div class="card">
                        {% if vehicle.vehicle_image %}
                            <img src="{{ vehicle.vehicle_image.url }}" class="card-img-top" alt="Vehicle Image">
                        {% endif %}
                        <h3 class="title">{{ vehicle.current_location }}</h3>
                        <p><strong>Max weight:</strong>{{ vehicle.max_weight }} tons.</p>
                        <p><strong>Type:</strong> {{ vehicle.vehicle_type }}.</p>
                        <p><strong>Contact Number:</strong> {{ vehicle.contact_number }}.</p>
                        <p><strong>Description:</strong>{{ vehicle.description }}.</p>
                        <a class="details-btn" href="{% url 'details vehicle' vehicle.pk %}">More Info</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <h2>No vehicles yet.</h2>
        {% endif %}
    </section>
{% endblock %}
