{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <section id="dashboard">
        <h2>Warehouses</h2>
        {% if warehouses %}
            <div class="card-container">
            {% for warehouse in warehouses %}
                {% if warehouse.is_approved %}
                    <div class="card">
                        {% if warehouse.warehouse_image %}
                            <img src="{{ warehouse.warehouse_image.url }}" class="card-img-top" alt="Warehouse Image">
                        {% endif %}
                        <h3 class="title">{{ warehouse.name }}</h3>
                        <p class="description"><strong>Location:</strong> {{ warehouse.location }}</p>
                        <p class="description"><strong>Square Metres:</strong> {{ warehouse.square_meters_capacity }}</p>
                        <p class="description"><strong>Contact:</strong> {{ warehouse.contact_person }}</p>
                        <a class="details-btn" href="{% url 'details warehouse' warehouse.pk %}">More Info</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <h2>No warehouse yet.</h2>
        {% endif %}
    </section>

{% endblock %}