<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles/styles.css"/>
    <title>LogiSolutions</title>

</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="#">
            <img id="logo-img" src="/static/images/logo.png" alt="logo"/>
        </a>

        <nav>
            <!-- If there is a user profile -->
            <div class="user">
                <a href="#">Catalogue</a>
                <a href="#">Add Offer</a>
                <a href="#">Profile</a>
                <a href="#">LogOut</a>

            </div>

            <!-- If user profile has NOT been created -->
            <div class="guest">
                <a href="#">Catalogue</a>
                <a href="#">SignIn</a>   <!-- Това е за регистрация -->
                <a href="#">LogIn</a>

            </div>
        </nav>
    </header>

    <main>
        <!-- Add Offer Form -->
        <section id="create">
            <div class="form">
                <h2>Add Offer</h2>
                <form class="create-form">
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Fruit Name"
                    />
                    <input
                            type="text"
                            name="imageUrl"
                            id="Fruit-image"
                            placeholder="Fruit Image URL"
                    />
                    <textarea
                            id="fruit-description"
                            name="description"
                            placeholder="Fruit Description"
                            rows="10"
                            cols="50"
                    ></textarea>
                    <textarea
                            id="fruit-nutrition"
                            name="nutrition"
                            placeholder="Nutrition Info"
                            rows="10"
                            cols="50"
                    ></textarea>
                    <button type="submit">Add Offer</button>
                </form>
            </div>
        </section>
    </main>
</div>
<!-- footer -->
<footer>
    <p>@LogiSolutions - SoftUni final Exam. Vladislav Vasilev.</p>
</footer>
</body>
</html>