{% extends 'common/index.html' %}
{% load static %}
{% block content %}

    <div class="form-container">
          <h1 class="profile">Change password</h1>
       <form class="form" method="post">
            {% csrf_token %}
            <label>Old Password</label>
            {{ form.old_password }}
            <label>New Password</label>
            {{ form.new_password1 }}
            <label>Confirm New Password</label>
            {{ form.new_password2 }}
             <button type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}