{% extends 'common/index.html' %}
{% load static %}

{% block content %}

    <main class="profile-main">


        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image }}" alt="" width="200" height="200" />
                {% else %}
                <img id="details-img" src="{% static 'images/default.png' %}" alt="profile img"/>
                {% endif %}
                <p id="details-title">Name: {{ profile.first_name }} {{ profile.last_name }}</p>

                <div id="info-wrapper">
                    <div id="details-description">
                        <p>
                            Email: {{ profile.email }}
                        </p>
                        <p>
                            Age: {{ profile.age }}
                        </p>

                    </div>

                    <div id="action-buttons">
                        <a href="{% url 'EditProfileView' pk=user.pk %}" id="edit-btn">Edit</a>
                        <a href="#" id="delete-btn">Delete</a>
                        <a href="{% url 'ChangePasswordView' pk=user.pk %}" id="change-password-btn">Change Password</a>

                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
