{% extends 'common/index.html' %}
{% load static %}

{% block content %}

    <main class="profile-main">
            <div id="details-profile">
                <h2>Profile Details</h2>
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image }}" alt="" width="200" height="200" />
                {% else %}
                <img id="details-img" src="{% static 'images/default.png' %}" alt="profile img"/>
                {% endif %}
                <p id="details-title"><strong>Name:</strong> {{ profile.first_name }} {{ profile.last_name }}</p>
                <div id="info-profile">
                    <div id="details-description">
                        <p>
                         <strong>Email:</strong> {{ profile.email }}
                        </p>
                        <p>
                            <strong>Age:</strong> {{ profile.age }}
                        </p>

                    </div>

                    <div class="button-container">
                        <a href="{% url 'EditProfileView' pk=user.pk %}" id="form-button cancel">Edit</a>
                        <a href="{% url 'DeleteProfileVIew' pk=user.pk %}" id="delete-btn">Delete</a>
                        <a href="{% url 'ChangePasswordView' pk=user.pk %}" id="change-password-btn">Change Password</a>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}
