{% extends 'common/index.html' %}
{% load static %}
{% block content %}
    <main>

        <!-- Edit Profile Form -->

        <section id="register">
            <div class="form">
                <h2>Edit Profile</h2>
                <form class="register-form" method="POST" action="">
                    {{ form }}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

    </main>
{% endblock %}